.btn {
  outline: none;
  //align-self: baseline;
  border: 1px solid var(--control-btn-color);
  border-radius: 25px;
  color: var(--control-text-color);
  margin: 10px 33px;
  box-shadow: 0 7px 20px 2px #c3c3c3;
  background: linear-gradient(to right, var(--control-btn-color) 5%, var(--control-btn-grad-color) 100%);
  cursor: pointer;
  font-family: var(--regular-font);
  font-size: 1em;
  font-weight: 500;
  padding: 10px 40px;
  text-decoration: none;

  &:hover {
    background: var(--control-btn-grad-color);
    border: 1px solid var(--control-btn-grad-color);
    color: var(--control-text-color);
    transition: color .5s ease;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}