:root {
  --regular-font: "Rubik", sant-serif;
  --bold-font: "Roboto", sant-serif;

  --main-bg-color: #f8f8f8;
  --main-text-color: #3a3f5c;
  --control-text-color: #fff;
  --control-bg-color: #efefef;
  --control-btn-color: #8dde8b;
  --control-btn-grad-color: #4dbc4b;

  --header-height: 64px;
  --main-content-padding: 10px;


}